/* --------------------------------------------------
  Core
-------------------------------------------------- */

@import './core/reset.min.css';
@import './core/constants.min.css';
@import './core/typography.min.css';

/* --------------------------------------------------
  Components
-------------------------------------------------- */

@import './component/card.min.css';
@import './component/gauge.min.css';
@import './component/navbar.min.css';
@import './component/panel.min.css';

/* --------------------------------------------------
  Generic
-------------------------------------------------- */

html {
    background-color: #52667a;
    background: linear-gradient(
        to bottom,
        color-mix(in srgb, black 60%, #52667a),
        color-mix(in srgb, black 40%, #52667a)
    );
    min-height: 100vh;
}

.container {
    box-sizing: border-box;
    margin-inline: auto;
    max-width: min((100% - (var(--spacing) * 2)), 64rem);
    width: 100%;
}

.space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hidden {
    display: none !important;
}

[collapsable], [collapsable-sm] {
    &.collapsed {
        > *:not(h2):not(h3) {
            display: none;
        }
    }

    h2, h3 {
        cursor: pointer;
        user-select: none;
    }
}

/* --------------------------------------------------
  Header Specific
-------------------------------------------------- */

header {
    margin-block-start: var(--spacing);

    & .header__identity {
        align-items: center;
        display: grid;
        grid-gap: var(--spacing);
        grid-template-columns: 4rem auto;
    }

    & .header__progression {
        margin-top: var(--spacing);

        .gauge:not(:first-of-type) {
            margin-top: max(calc(var(--spacing) / 2), 0.5rem);
        }
    }

    & .header__navigation {
        margin-top: var(--spacing);
    }
}

/* --------------------------------------------------
  Main
-------------------------------------------------- */

main {
    margin-block: var(--spacing);
}

/* --------------------------------------------------
  Layout
-------------------------------------------------- */

.layout {
    align-items: start;
    display: grid;
    
    &.gap {
        grid-gap: var(--spacing);
    }

    &.stretch {
        align-items: stretch;
    }

    &.sidebar {
        grid-template-columns: 1fr 2fr;

        @media (max-width: 540px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &.two {
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: 864px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &.three {
        grid-template-columns: repeat(3, 1fr);
    }

    &.four {
        grid-template-columns: repeat(4, 1fr);
    }

    &.five {
        grid-template-columns: repeat(5, 1fr);
    }

    &.six {
        grid-template-columns: repeat(6, 1fr);
    }
}