// =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~
// Base SCSS Files
// =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~

@import 'base/reset';
@import 'base/typography';
@import 'base/helper';
@import 'base/variables';

// =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~
// Basic Page Style
// =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~

body {
    background-color: #52667a;
    color: white;
}

.hidden {
    display: none !important;
}

#section__attributes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--spacing, 0.5rem);
}

// =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~
// Component SCSS Files
// =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~

@import 'components/card';
@import 'components/list';
@import 'components/navbar';
@import 'components/panel';
@import 'components/progress';

// =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~
// Layout SCSS Files
// =~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~

@import 'layout/aside';
@import 'layout/container';
@import 'layout/header';
@import 'layout/main';