button {
    background-color: #6fb34d;
    border: unset;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 1.2rem;
    text-decoration: none;
    text-transform: capitalize
}

button.text {
    background: unset;
    color: #6fb34d;
    font-style: normal;
    font-weight: 600
}

button:focus {
    outline: unset
}

button:not(.text):hover {
    background-color: #8bc270
}

button:not(.text).red,button:not(.text).disabled {
    background-color: #b34d4d
}

button:not(.text).red:hover,button:not(.text).disabled:hover {
    background-color: #c27070
}

button:not(.text).blue {
    background-color: #4d91b3
}

button:not(.text).blue:hover {
    background-color: #70a7c2
}