.navbar {
    ul, ol {
        align-items: stretch;
        background-color: rgba(black, 0.5);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--spacing, 0.5rem);
    }

    li {
        border: var(--border, 1875rem) solid transparent;
        flex: 1;
        padding: 1.5rem;
        text-align: center;

        &.active {
            background-color: var(--clr-blue-300);
            background: linear-gradient(45deg, var(--clr-blue-400) 0%, var(--clr-blue-500) 100%);
            border-color: var(--clr-blue-300);
        }
    }
}