// ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-
// Base
// ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-

@use 'base/colors';
@use 'base/reset';
@use 'base/typography';

// ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-
// Components
// ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-

@use 'component/card';
@use 'component/columns';
@use 'component/nav-list';
@use 'component/panel';
@use 'component/progress';

// ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-
// Layout
// ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-



html {
    background-color: #52667a;
    background: linear-gradient(
        to bottom,
        color-mix(in srgb, black 60%, #52667a),
        color-mix(in srgb, black 40%, #52667a)
    );
    min-height: 100vh;
}

.container {
    margin-block: var(--spacing, 0.5rem);
    margin-inline: auto;
    max-width: min((100% - 1rem), 1028px);
}

header .container {
    display: grid;
    grid-gap: var(--spacing, 0.5rem);
    grid-template-columns: 1fr;

    .profile {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: var(--spacing, 0.5rem);
    }

    .portrait {
        display: inline-block;
        max-width: 3.5625rem;
        img {
            aspect-ratio: 1 / 1;
            display: block;
            width: 100%;
        }
    }

    h1 {
        display: inline;
        small {
            display: block;
            font-family: 'Rubik', sans-serif;
            font-size: 0.6em;
            margin-top: -0.25em;
        }
    }
}


section > .heading {

    margin-bottom: var(--padding, 1rem);

}


.space-between {
    display: flex;
    justify-content: space-between;
}

.padded-list {
    display: flex;
    flex-direction: column;

    li {
        &:not(:last-child) {
            padding-bottom: var(--padding);
        }

        &.backdrop {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 0.25rem;
            padding-bottom: var(--padding);
            
            & + .backdrop {
                margin-top: var(--padding, 0.5rem);
            }
        }
    }

    &:has(> li.backdrop) {
        li {
            padding: var(--padding);
        }
    }
}

main {
    &:not([data-tab='attributes']) #tab-attributes {
        display: none;
    }
    &:not([data-tab='biography']) #tab-biography {
        display: none;
    }
    &:not([data-tab='combat']) #tab-combat {
        display: none;
    }
    &:not([data-tab='features']) #tab-features {
        display: none;
    }
    &:not([data-tab='inventory']) #tab-inventory {
        display: none;
    }
    &:not([data-tab='spells']) #tab-spells {
        display: none;
    }
}

#tab-attributes {
    &.columns {
        align-items: stretch;
    }
}

[collapsable], [collapsable-sm] {
    &.collapsed {
        > *:not(h2):not(h3) {
            display: none;
        }
    }

    h2, h3 {
        cursor: pointer;
        user-select: none;
    }
}