.container {
    display: grid;
    grid-gap: var(--gap, 1rem);
    margin-inline: auto;
    margin-block: var(--gap, 1rem);
    max-width: min(100% - (var(--gap, 1rem) * 2), 915px);

    @media (min-width: 512px) {
        grid-template-columns: 1fr 2fr;

        header {
            grid-column: 1 / -1;
        }
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}