.container {
    display: grid;
    grid-gap: var(--gap, 1rem);
    margin-inline: auto;
    margin-block: var(--gap, 1rem);
    max-width: min(100% - (var(--gap, 1rem) * 2), 1080px);

    @media (min-width: 512px) {
        grid-template-columns: 2fr 1fr;

        header {
            grid-column: 1 / -1;
        }
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}

.hidden
{
    display: none !important;
}

.spell__card.collapsed {
    > *:not(header) {
        display: none !important;
    }
}

.hidden + [data-accordian] {
    margin-top: calc(var(--padding, 1rem) / 2);
}