.container > header {
    display: grid;
    grid-area: page_header;
    grid-gap: var(--spacing, 0.5rem);
    grid-template-areas:
        "header__character"
        "header__experience"
        "header__combat"
        "header__navigation";

    &.condensed {
        grid-template-areas:
            "header__character"
            "header__navigation";

        #header__experience,
        #header__combat {
            display: none;
        }
    }

    @media (min-width: 812px) {
        grid-template-areas:
            "header__character  header__combat"
            "header__experience header__combat"
            "header__navigation header__navigation";
        grid-template-columns: 1fr 1fr;

        &.condensed {
            grid-template-areas:
                "header__character header__navigation";
            grid-template-columns: min-content auto;

            #header__character {
                grid-gap: unset;
                
                h1 {
                     display: none;
                }
            }
        }
    }
}

#header__character {
    align-items: center;
    display: grid;
    grid-area: header__character;
    grid-gap: var(--spacing, 0.5rem);
    grid-template-columns: min-content auto;

    .portrait {
        min-width: 4.375rem;

        img {
            background-color: var(--clr-blue-300);
            background: linear-gradient(45deg, var(--clr-blue-300) 0%, var(--clr-blue-500) 100%);
            border: var(--border) solid var(--clr-blue-400);
            display: block;
        }
    }
}

#header__combat {
    grid-area: header__combat;
}

#header__experience {
    grid-area: header__experience;
}

#header__navigation {
    grid-area: header__navigation;
}