.card {
    background-color: rgba(black, 0.5);
    border-radius: 0.25rem;
    color: white;
    font-weight: 300;
    padding: var(--padding, 0.5rem);

    & + & {
        margin-top: var(--spacing, 1rem);
    }

    header {
        cursor: pointer;
        user-select: none;

        small {
            display: block;
            font-family: 'Rubik', sans-serif;
            font-size: 0.75em;
            font-style: italic;
        }
    }

    &__details {
        font-size: 0.825em;
        margin-top: 0.5rem;

        li {
            margin-top: 0.25rem;
            
            strong {
                font-weight: 600;
            }
        }
    }

    &__description {
        color: rgba(white, 0.75);
        font-size: 0.825em;
        font-style: italic;
        margin-top: 0.5rem;
        text-align: justify;
        text-wrap: pretty;
    }
}