@use '../base/functions' as func;

/* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=

Requirements:
 - Must be a <ul> have the "nav-list" class.
 - The <li> must contain an <a> tag.

~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~= */

ul.nav-list {
    --background-color: var(--clr-blue-300);
    --border: 3px;
    --padding: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
    
    li {
        flex-basis: 15%;
        flex-grow: 1;
        
        a {
            background-color: rgba(0, 0, 0, 0.5);
            border: var(--border) solid transparent;
            color: inherit;
            display: block;
            font-weight: 500;
            padding: var(--padding, 0.5rem);
            text-align: center;
            text-decoration: unset;

            &[aria-current='page'] {
                background-color: var(--background-color);
                background-image: func.gradient(var(--background-color));
                border-color: func.mix(var(--background-color), black 20%);
                box-shadow: 1px 1px 0px 0px black inset, -1px -1px 0px 0px black inset;
            }
        }
    }
}