.card {
    background-color: var(--card-background);
    border-radius: var(--card-radius);
    padding: var(--card-padding);

    & + & {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    &:has(+ &) {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }

    &:not(:first-of-type) {
        margin-top: var(--card-spacing);
    }

    &.collapsed {
        small {
            display: none;
        }
    }

    & > :header {
        cursor: pointer;
        user-select: none;
    }

    &__details {
        font-size: 0.825em;
        margin-top: 0.5em;

        li {
            margin-top: 0.25em;
        }
    }

    &__description {
        font-size: 0.825em;
        font-style: italic;
        margin-top: 0.5em;
        opacity: 0.75;
        text-align: justify;
        text-wrap: pretty;
    }
}