@use '../base/functions' as func;

ul.navbar {
    --background-color: var(--clr-blue-300);
    --border: 3px;
    --padding: 1rem;
    --radius: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing);
    list-style: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
    
    li {
        -webkit-tap-highlight-color: transparent;
        background-color: rgba(0, 0, 0, 0.5);
        border: var(--border) solid transparent;
        border-radius: var(--radius);
        color: inherit;
        cursor: pointer;
        display: block;
        flex-basis: 10%;
        flex-grow: 1;
        font-weight: 500;
        position: relative;
        text-align: center;
        text-decoration: unset;
        z-index: 1;

        &::after {
            border-radius: calc(var(--radius) - 4px);
            content: " ";
            display: block;
            inset: 1px;
            position: absolute;
            z-index: 2;
        }

        span {
            display: block;
            padding: var(--padding);
            position: relative;
            z-index: 3;
        }
        
        &[aria-selected='true'] {
            border-color: func.mix(var(--background-color), black 20%);

            &::after {
                background-color: var(--background-color);
                background-image: func.gradient(var(--background-color));
            }
        }
    }
}