@use '../base/functions' as func;
@use '../base/colors' as clr;

/* ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=

Requirements:
 - Nil

~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~= */

.panel {
    --background-color: green;
    --border: 3px;
    --padding: 1rem;

    background-color: var(--background-color);
    background-image: func.gradient(var(--background-color));
    border: var(--border) solid transparent;
    border-color: func.mix(var(--background-color), black 20%);
    box-shadow: 1px 1px 0px 0px black inset, -1px -1px 0px 0px black inset;
    display: block;
    padding: var(--padding, 0.5rem);

    @each $key, $value in clr.$colors {
        &.color__#{$key} {
            background-color: var(--clr-#{$key}-300);
            background-image: func.gradient(var(--clr-#{$key}-300));
            border-color: func.mix(var(--clr-#{$key}-300), black 20%);
        }
    }
}

hr {
    border: 1px solid black;
    height: 3px;
    width: 100%;

    @each $key, $value in clr.$colors {
        .color__#{$key} & {
            background-color: func.mix(var(--clr-#{$key}-300), black 20%);
        }
    }
}